.nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 4em;
}

span#name-label {
  position: absolute;
  left: 0;
}

.nav-items ul {     
  margin: 0;
  padding: 0;
}

.nav-items li {
  list-style-type: none;
  display: inline-block;
  position: relative;
  margin-left: 4em;
}
 
a, a:visited { 
  text-decoration: none;
  color: var(--med-pink);
  text-transform: uppercase;
  font-size: 0.9em;
  letter-spacing: 1.5px;
}

.underline:hover:after,
.underline:focus:after,
.underline:active:after {
  width: 100%;
}

.underline:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 1px;
  background: var(--lt-pink);
  width: 0;
  transition: width 0.25s;
}