.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 1.2em;
  /* letter-spacing: 1px; */
  font-weight: 100;
  border-top: 1px solid  var(--lt-pink);
  padding: 30px 0px;
}

#disclaimer {
  margin-top: 24px;
  font-size: 0.7rem;
  letter-spacing: 0;
  color: rgb(0, 255, 238);
  font-style: italic;
}

#name-label a {
  color: var(--lt-pink)!important;
  letter-spacing: 0.5px!important;
  font-weight: 300;
  display: flex;
  font-size: 2.0rem;
  font-family: 'Work Sans', sans-serif;
}

span#name-label:hover {
  cursor: default;
}

#descriptors {
  font-family: 'IBM Plex Mono', monospace;
  margin-top: 30px;
  font-size: 1rem;
  font-style: italic;
}

.nav-items ul {     
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.nav-items li {
  list-style-type: none;
  display: inline-block;
  position: relative;
  margin-left: 1em;
  font-size: 1.2rem;
}
 
a, a:visited { 
  text-decoration: none;
  color: var(--lt-pink)!important;
  text-transform: uppercase;
}

.nav-link.active:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 1px;
  background: var(--lt-pink);
  width: 100%;
}

@media screen and (max-width: 600px) {
  #name-label a {
    font-size: 1.8em;
    color: var(--lt-pink)!important;
  }

  .nav {
    flex-direction: column;
    margin-bottom: 1.8em;
  }

  .nav-items {
    margin-top: 2em;
    display: inline-flex;
  }

  .nav-items ul {
    margin-left: -1em;
  }
}