.inner-page-container {
  /* margin-bottom: 35px; */
  overflow-x: auto;
}

.page-header {
  position: relative;
}

h1.page-header-label {
  font-size: 24px;
  letter-spacing: 1px;
  color: var(--lt-pink);
  display: inline-block;
  text-transform: uppercase;
  font-weight: 100;
}

div.page-header-divider {
  display: inline-block;
	height: 2px;
	background: var(--lt-pink);
  width: 48px;
  left: 128px;
	position: absolute;
	top: 50%;
}

div.page-content {
  line-height: 26px;
  max-width: 550px;
  margin-left: 128px;
  margin-right: 128px;
}

/* Specific to Work page */
div.work-page-content {
  margin-top: 48px;
}

@media screen and (max-width: 600px) {
  .inner-page-container {
    margin-bottom: 0px;
  }
  div.page-content {
    margin-left: 0px;
    margin-right: 0px;
  }

}