.inner-page-container {
  overflow-x: auto;
}

.page-header {
  position: relative;
}

h1.page-header-label {
  font-size: 20px;
  text-transform: uppercase;
  color: var(--lt-pink);
  display: inline-block;
  font-weight: 100;
}

.project-header-label-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.page-header-divider {
  display: inline-block;
	height: 2px;
	background: var(--lt-pink);
  width: 48px;
  left: 128px;
	position: absolute;
	top: 50%;
}

div.page-content {
  line-height: 26px;
  max-width: 50%;
}

div.page-content.about {
  max-width: 40%;
}

div.page-content.about p {
  font-size: 1.0em;
  line-height: 1.4em;
  margin-top: 1.7em;
}

@media screen and (max-width: 600px) {
  div.page-content {
    margin-left: 0px;
    margin-right: 0px;
  }

  div.page-content.about p {
    font-size: 0.9em;
    line-height: 1.6em;
  }
}