#projects {
  display: flex;
  justify-content: center;
  padding: 4vh 0vh;
}

.projects-container {
  margin: 0vw 2vw;
  /* display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between; */
}

.project-client, .project-years {
  font-size: 1.2em!important;
}

.project-tools {
  font-style: italic;
}

.project-content p {
  font-size: 1em;
  line-height: 1.6em;
  color: var(--lt-pink);
}

.project-content {
  margin-bottom: 3.5em;
}

.project-container {
  overflow: hidden;
  margin-bottom: 64px;
}

.project-content-imgs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 60px;
}

.LazyLoad.proj-img-container.full {
  width: 100%;
}

.LazyLoad.proj-img-container.half {
  width: 50%;
  padding: 16px;
}

.project-img {
  width: 72%;
  float: left;
}

img.project-highlight {
  width: 100%;
  height: auto;
}

.project-meta {
  float: right;
  width: 25%;
  overflow:hidden;
}

.project-description {
  border: 2px solid var(--lt-pink);
  padding: 12px;
  margin-top: -2px;
}

.proj-img {
  width: 100%;
}

.project-description p {
  color: var(--lt-pink);
  margin: 0px;
  line-height: 22px;
}








/* GRID VIEW */
.content-grid-item-outer {
  width: 100%;
  margin-bottom: 8em;
  padding: 0px;  
  min-width: 400px;
}

.content-grid-item-outer.placeholder {
  margin-bottom: 0px;
}

.content-grid-item {
  display: flex;
}

.hero-container {
  width: 72%;
}

.LazyLoad {
  width: 100%;
  padding: 0px 30px 0px 0px;
}

.project-collaborators {
  font-style: italic;
  font-size: 0.85em;
  margin-top:1em!important;
  margin-bottom:2em!important;
}

p.project-desc {
  font-size: 0.95em;
  line-height: 1.6em;
  font-family: 'Work Sans', sans-serif;
}

.project-img-grid {
  width: 100%;
  /* box-shadow: 5px 5px 10px #19181d!important; */
}

.project-meta-container {
  width: 28%;
  margin: 24px 0px;
  display: flex;
  flex-direction: column;
}

.project-name {
  text-transform: none;
  color: var(--lt-pink);
  font-family: 'Work Sans', sans-serif;
}

.project-link {
  color: #a3fffb!important;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  margin: 4px 0px 0px 0px;
}

.project-role {
  font-style: italic;
}

.project-desc-container p {
  margin: 0px;
  line-height: 1.6em;
  font-size: 0.775em;
  color: var(--lt-pink);
}

.upper-section p {
  margin: 8px 0px;
}

.lower-section {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.readMore {
  text-transform: none !important;
  margin-top: 30px;
  display: inline;
  position: relative;
  /* text-decoration: underline; */
  font-size: 0.9em;
  color: #a3fffb!important;
}

.readMore:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 1px;
  background: #a3fffb;
  width: 100%;
}

.line-deco {
  width: 48px;
  margin: 16px 0px;
  height: 1px;
  background: white;
}

.back-arrow-icon {
  width: 24px;
}

.project-detail-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 28px;
}

.project-detail-link {
  display: inline-block;
  padding: 8px 16px;
  font-size: 1em;
  margin-top: 36px;
  margin-bottom: 36px;
  border: 1px solid var(--lt-pink);
  border-radius: 3px;
  background: var(--lt-pink);
  font-size: 0.875em;
}

div.vid {
  position: relative;
  overflow: hidden;
  padding-top: 62.25%;
  margin-bottom: 60px;
}

div.vid.cepheids {
  background: black;
}

div.vid.propagator {
  padding-top: 75%;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.player {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}

.project-content-desc {
  color: var(--lt-pink);
  width: 40%;
}

.project-content-desc p {
  font-size: 0.9em;
}

.project-content-tools {
  color: var(--lt-pink);
  width: 20%;
  border-top: 0.5px solid var(--lt-pink);
  padding-top: 8px;
}


.project-content-tools ul {
  margin: 12px 0px;
  padding: 0px;
}

.project-content-tools ul li {
  list-style-type: none;
  font-size: 0.8em;
  margin-top: 4px;
  margin-bottom: 4px;
  color: var(--lt-pink);
}

.project-content-pubs {
  max-width: 70%;
}

.project-content-pubs li {
  font-size: 0.8em;
  line-height: 1.6em;
  margin-bottom: 12px;
}

@media screen and (max-width: 980px) {
  .content-grid-item-outer {
    width: 85%;
    min-width: 100%;
    margin-bottom: 5em;
  }

  .placeholder {
    margin-bottom: 0;
    display: none;
  }

  .project-detail-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .project-detail-link {
    /* margin-bottom: 0px; */
    margin-top: 0px;
  }
  
  .project-detail-container {
    max-width: 100%;
    margin-top: 0px;
  }
  
  .back-icon {
    display: none;
  }

  .project-content-desc,
  .project-content-tools {
    width: 100%;
  }

  .LazyLoad.proj-img-container.half  {
    width: 100%;
    padding: 8px 0px;
  }

  .project-content-pubs {
    max-width: 100%;
    margin-right: 16px;
  }
}

@media screen and (max-width: 1400px) {
  .content-grid-item {
    flex-direction: column;
  }

  .hero-container, .project-meta-container {
    width: 100%;
  }

  .LazyLoad {
    padding: 0px;
  }
}

@media screen and (max-width: 768px) {
  div.vid.propagator {
    padding-top: 195%;
  }
}
