#projects-container {
  margin-top: 2.4em;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.project-detail-container {
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.4em;
}

.project-content p {
  font-size: 0.8em;
  line-height: 1.6em;
  color: var(--lt-pink);
}

.project-content {
  margin-bottom: 3.5em;
}

.project-container {
  overflow: hidden;
  margin-bottom: 64px;
}
.project-img {
  width: 72%;
  float: left;
}

img.project-highlight {
  width: 100%;
  height: auto;
}

.project-meta {
  float: right;
  width: 25%;
  overflow:hidden;
}

.project-description {
  border: 2px solid var(--med-pink);
  padding: 12px;
}

.proj-img {
  margin-top: 32px;
  width: 100%;
  max-width: 100%;
}

.project-description {
  margin-top: -2px;
}

.project-description p {
  color: var(--lt-pink);
  margin: 0px;
  line-height: 22px;
}

/* GRID VIEW */
.content-grid-item-outer {
  width: 31%;
  margin-bottom: 6em;
  padding: 0px;  
  min-width: 400px;
}

.project-img-grid {
  width: 100%;
}

.project-meta-container {
  margin-top: 1.2em;
  position: relative;
}

.project-name {
  text-transform: uppercase;
  color: var(--lt-pink);
  font-size: 1.1em;
  letter-spacing: 0.02em;
}

a.project-link {
  color: var(--lt-pink);
  display: flex;
  flex-direction: column;
  position: absolute;
  /* border-bottom: 1px solid grey;
  flex-grow: 2; */
}

a.project-link:after {
  content: "";
  bottom: -3px;
  height: 1px;
  width: 100%;
  background: var(--lt-pink);
}

.project-desc-container {
  padding-top: 2.5em;
}

.project-desc-container p {
  margin: 0px;
  line-height: 1.6em;
  color: var(--lt-pink);
}