.projects-container {
  margin-top: 2.4em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.page-header.work {
  border-bottom: 1px solid;
}

.project-detail-container {
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
}

.project-content p {
  font-size: 0.8em;
  line-height: 1.6em;
  color: var(--lt-pink);
}

.project-content {
  margin-bottom: 3.5em;
}

.project-container {
  overflow: hidden;
  margin-bottom: 64px;
}
.project-img {
  width: 72%;
  float: left;
}

img.project-highlight {
  width: 100%;
  height: auto;
}

.project-meta {
  float: right;
  width: 25%;
  overflow:hidden;
}

.project-description {
  border: 2px solid var(--med-pink);
  padding: 12px;
}

.proj-img {
  margin-top: 32px;
  width: 100%;
  max-width: 100%;
}

.project-description {
  margin-top: -2px;
}

.project-description p {
  color: var(--lt-pink);
  margin: 0px;
  line-height: 22px;
}

/* GRID VIEW */
.content-grid-item-outer {
  width: 30%;
  margin-bottom: 6em;
  padding: 0px;  
  min-width: 400px;
}

.content-grid-item-outer.placeholder {
  margin-bottom: 0px;
  /* height: 0px; */
}

.project-img-grid {
  width: 100%;
}

.project-meta-container {
  margin-top: 1.2em;
  position: relative;
}

.project-name {
  text-transform: uppercase;
  color: var(--lt-pink);
  font-size: 1.1em;
  letter-spacing: 0.02em;
}

a.project-link {
  color: var(--lt-pink);
  display: flex;
  flex-direction: column;
  position: absolute;
  /* border-bottom: 1px solid grey;
  flex-grow: 2; */
}

a.project-link:after {
  content: "";
  bottom: -3px;
  height: 1px;
  width: 100%;
  background: var(--lt-pink);
}

.project-desc-container {
  padding-top: 2.5em;
}

.project-desc-container p {
  margin: 0px;
  line-height: 1.6em;
  font-size: 0.8em;
  color: var(--lt-pink);
}

.project-detail-link {
  display: inline-block;
  padding: 9px 36px 10px 36px;
  margin-top: 36px;
  margin-bottom: 36px;
  border: 1px solid var(--med-pink);
  border-radius: 2px;
  /* font-weight: bold; */
}

.project-detail-link:hover {
  background: var(--med-pink);
  color: var(--bg-navy);
}

@media screen and (max-width: 980px) {
  .content-grid-item-outer {
    width: 85%;
    min-width: 100%;
    margin-bottom: 5em;
  }
  .placeholder {
    margin-bottom: 0;
    display: none;
  }
  .project-detail-container {
    max-width: 95%;
    margin-top: 0px;
  }
  .back-icon {
    display: none;
  }
}

@media screen and (max-width: 1400px) {
  .content-grid-item-outer {
    width: 46%;
  }
}