@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,400i');
@import url('https://fonts.googleapis.com/css?family=Heebo:100,300,400');

:root {
  --lt-pink: #FFFFFF;
  --med-pink: #D6B4D6;
  --bg-navy: #1B182E;
  --bg-dark: #282630;
  background: var(--bg-dark);
}

* {
  box-sizing: border-box;
}

html, body {
  background: var(--bg-dark);
  margin: 0 auto;
  height: 100%;
  font-family: "Roboto Mono", monospace;
  color: var(--lt-pink);
}

body {
  position: relative;
  height: 100%;
  background: var(--bg-dark);
}

p {
  color: var(--lt-pink);
  font-size: 0.8em;
}

#app {
  min-height: 100%;
  padding: 6em;
  background: var(--bg-dark);
}

@media screen and (max-width: 600px) {
  #app {
    padding: 1.4em;
  }
}

#canvas {
  position: absolute;
}