@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,400i');
@import url('https://fonts.googleapis.com/css?family=Heebo:100,300,400');

:root {
  --lt-pink: #FFEBFF;
  --med-pink: #D6B4D6;
  --bg-navy: #1B182E;
}

* {
  box-sizing: border-box;
}

html, body {
  background: #0b0a13;
  margin: 0 auto;
  height: 100%;
  font-family: "Roboto Mono", monospace;
  color: var(--med-pink);
}

body {
  position: relative;
  height: 100%;
}

p {
  color: var(--med-pink);
  font-size: 0.8em;
}

.page-container {
  position: absolute;
  left: 5.0em;
  top: 4.0em;
  width: calc(100% - 10.0em);
  height: calc(100% - 8.0em);
}

@media screen and (max-width: 600px) {
  .page-container {
    left: 1.4em;
    width: calc(100% - 2.8em);
    height: calc(100% - 1.0em);
  }
}

#canvas {
  position: absolute;
}